html {
    font-size: calc(100vh / 1080 * 16);
}

@media screen and (max-height:1080px) {
        body{
            font-size: 14px;
        }
}
@media only screen and (max-height:769px) {
    html {
        font-size: calc(769px / 1080 * 16);
    }
   
}